@font-face {
    font-family: 'Gilroy SemiBold';
    src: url(./fonts/Gilroy-SemiBold.ttf);
    font-family: 'Gilroy Medium';
    src: url(./fonts/Gilroy-Medium.ttf);
    font-family: 'Gilroy Bold';
    src: url(./fonts/Gilroy-Bold.ttf);
    font-family: 'Gilroy Regular';
    src: url(./fonts/Gilroy-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.name {
    display: flex;
    align-items: center;
    margin-left: 375px;
}

.company__name {
    margin-top: 45px;
    margin-left: 14px;
    font-family: 'Gilroy Bold';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span.grow {
    color: #000;
}
  
span.be {
    color: #F25822;
}

.menu {
    display: flex;
    align-items: center;
    margin-top: 51px;
    margin-right: 375px;
}

a {
    text-decoration: none;
}

.menu__link1 {
    margin-right: 40px;
    color: #000;
    font-family: 'Gilroy Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link {
    color: #000;
    font-family: 'Gilroy Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link:hover {
    font-family: 'Gilroy SemiBold';
    color: #F25822;
}

.menu__link1:hover {
    font-family: 'Gilroy SemiBold';
    color: #F25822;
}


/* ??? как сделать так, чтобы иконка тоже стала #F25822 */
/* .icon:hover {
    src: url(./img/icon2.svg);
} */

.example {
    font-family: 'Gilroy SemiBold';
    color: #F25822;
}


.contant {
    display: flex;
    justify-content: space-between;
}

.contant__info {
    margin-top: 84px;
    margin-left: 373px;
    width: 522px;
    height: 374px;
}

.title {
    color: #000;
    font-family: 'Gilroy Bold';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__info {
    margin-top: 17px;
    color: #888;
    font-family: 'Gilroy Medium';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.start {
    display: inline-block;
    margin-top: 37px;
    margin-left: 2px;
    border: none;
    width: 140px;
    height: 50px;
    margin-right: 72px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    text-align: center;
    text-justify: center;
    font-family: 'Gilroy Bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.watch {
    border: none;
    background: none;
    border-width: 90px;
    color: #AAA;
    font-family: 'Gilroy Bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info__img {
    margin-top: 94.71px;
    margin-right: 367.25px;
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
}

.logos {
    margin-top: 259.45px;
    display: flex;
    justify-content: center;
}

.footer__logos {
    margin-right: 48px;
}

.three_blocks {
    margin-top: 121.5px;
    margin-block-end: 50px;
    display: flex;
    justify-content: center;
}

.title_block {
    font-family: 'Gilroy Bold';
    font-weight: 400;
    font-size: 24px;
    color: #000;
    padding-top: 25px;
}

.text_block {
    font-family: 'Gilroy Regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #666;
    padding-top: 17px;
}

.read-more {
    font-family: 'Gilroy Bold';
    font-weight: 400;
    font-size: 11px;
    line-height: 150%;
    color: #000;
    padding-top: 25px;
}

.second_block {
    margin-right: 60px;
    margin-left: 60px;
    padding-left: 30px;
    padding-top: 40px;
    border-width: 370px;
    border: none;
    width: 370px;
    height: 291px;
    box-shadow: 0px 0px 13px 0px #FAFAFA;
    color: #FFF;
}

.first_block, .third_block {
    padding-left: 30px;
    padding-top: 40px;
    border: none;
    width: 370px;
    height: 291px;
}

.why__we {
    margin-top: 100px;
    background-color: #FAFAFA;
    height: 919px;
}

.head_why__we {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
}

.title_why__we {
    font-family: 'Gilroy Bold';
    font-weight: 400;
    font-size: 45px;
    color: #000;
}

.p_why__we {
    margin-top: 19px;
    font-family: 'Gilroy Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666;
}

.cards_why__we {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.title_card {
    margin-top: 25px;
    font-family: 'Gilroy Bold';
    font-weight: 400;
    font-size: 24px;
    color: #000;
    text-align: center;
}

.text_card {
    margin-top: 22px;
    font-family: 'Gilroy Regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #aaa;
}

.button-learn_more {
    display: inline-block;
    border: none;
    margin-top: 39px;
    margin-left: 100px;
    margin-right: 100px;
    width: 150px;
    height: 50px;
    margin-right: 72px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    text-align: center;
    font-family: 'Gilroy Bold';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;;
}

.button_card {
    font-family: 'Gilroy Bold';
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    text-align: center;
}